*.o
*.dSYM
*.csv
*.out
*.pyc
*.bck
*.weights
old/
mnist/
caffe/
grasp/
images/
opencv/
convnet/
decaf/
submission/
training/
darknet
darknet_backup
.fuse*

# OS Generated #
.DS_Store*
ehthumbs.db
Icon?
Thumbs.db
*.swp
libdarknet.*

# Extra #
predictions.png
backup/
detect_test/
obj/
qual_test/
results/
training/
yolov3-tiny.weights
plot-train/
