*.o
*.dSYM
*.csv
*.out
*.pyc
*.bck
old/
mnist/
data/
caffe/
grasp/
images/
opencv/
convnet/
decaf/
submission/
testing/coco/
training/images
training/labels
darknet
darknet_backup
.fuse*

# OS Generated #
.DS_Store*
ehthumbs.db
Icon?
Thumbs.db
*.swp
libdarknet.*

# Extra #
predictions.png
